*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: poppins;
}

body{
    background: #000;
}

/* ===NAVIGATION BAR === */

.logo img{
    height: 28px;
    width: 67px;
}

header{
    height: 80px;
    width: 100%;
    background-color: #252830;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
    position: fixed;
    z-index: 999;
}

.hamburger{
    display: none;
}

.nav-bar ul{
    display: flex;
}

.nav-bar ul li a{
    display: block;
    color: white;
    padding: 10px 25px;
    border-radius: 50px;
    transition: 0.2s;
    margin: 0 5px;
}

.nav-bar ul li a:hover{
    border-bottom: 2px solid #00853C;
}

.nav-bar ul li a.active {
    border-bottom: 2px solid #00853C;
}

@media only screen and (max-width:1320px){
    header{
        padding: 0 50px;
    }
}

@media only screen and (max-width:110px){
    header{
        padding: 0 30px;
    }
}

@media only screen and (max-width:900px){
    .hamburger{
        display: block;
        cursor: pointer;
    }

    .hamburger .line{
        width: 30px;
        height: 3px;
        background-color: white;
        margin: 6px;
    }

    .nav-bar{
    height: 0;
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    width: 100vw;
    background: #252830;
    transition: 0.5s;
    }

    .nav-bar.active{
        height: 450px;
        background-color: #252830;
    }

    .nav-bar.active ul{
        opacity: 1;
    }

    .nav-bar ul{
        display: block;
        width: fit-content;
        margin: 80px auto 0 auto;
        text-align: center;
        transition: 0.5s;
        opacity: 0;
        overflow: hidden;
    }

    .nav-bar ul li a{
        margin-bottom: 12px;
    }
}


/* ===END NAVIGATION BAR === */


/* ====HERO SECTION===== */

.container{
    margin-inline: auto;
    max-width: 90%;
}

.header{
    padding: 8.5rem 1rem;
}

.child h1{
    color: #ffffff;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 700;
    line-height: 135%; /* 48.6px */
    letter-spacing: -0.36px;
    margin-bottom: 1rem;
    }


    .child p{
        color: #e7e7e7;
        font-family: poppins;
        font-weight: 400;
        line-height: 135%; 
        letter-spacing: -0.24px;
        }
        
        img{
            display: block;
            max-width: 100%;
        }


        .button{
            border-radius: 30px;
            border: solid 2px;
            border-color: #00853C;
            background: none;
            padding: 16px 32px;
            justify-content: center;
            align-items: center;
            color: #fff;
            margin-top: 3rem;
            margin-bottom: 4rem;
            transition: all 0.25 ease;
            font-family: poppins;
            display: flex;
            gap: 0.5rem;
        }
        
        .button:active{
            transform: scale(0.86);
        }
        
        .button:hover{
            background-color: #1caa5c;
            color: #fff;
        }

        @media only screen and (min-width: 900px){
            .header{
                display: flex;
                gap: 7rem;
            }


            .filter img{
                filter: grayscale(100%);
                opacity: 0.5;
            } 

            img:hover{
                filter: grayscale(0%);
                opacity: 100;
            }

            .child p{
                width: 441px;
                font-size: 20px;
            }

            .child h1{
                font-size: 36px;
                width: 441px;
            }
        }


        /* ====END HERO SECTION==== */


        /* ====SECTION ONE==== */

        .section2{
            padding: 8.5rem 1rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 3rem;
        }

        .section2 h1{
            font-weight: 500;
            width: 90%;
        }

        .image{
            display: block;
            max-width: 100%;
        }

        .image{
            width: 590px;
            height: 550px;
        }

        @media only screen and (min-width: 900px){
            .image{
                filter: grayscale(100%);
                opacity: 0.5;
            }
    
            .image:hover{
                filter: grayscale(0%);
                opacity: 100;
            }
    
        }

        /* =====END SECTION ONE====  */


        @media only screen and (max-width: 768px){
            .txt{
                margin-left: 3rem;
                width: 70%;
            }
    
            .child-1{
                display: block;
                max-width: 100%;
                padding: 1rem 3rem;
            }
        }

        

        @media only screen and (min-width: 900px){
            .container-2{
                height: fit-content;
                max-width: 100%;
                padding: 2rem 8rem;
                display: flex;
                flex-direction: row;
                gap: 2rem;
                justify-content: center;
            }

            .txt{
                margin-left: 8rem;
                width: 70%;
            }
        }
        

        

      
       
        

        


       
        